footer.footer
    .container.footer_container
        ul.socials
            li.social__item
                a(href="#").social__link.social__link_vk
                    svg.socials__icon 
                        use(xlink:href='img/icons/symbol/sprite.svg#vk-icon')
            li.social__item
                a(href="#").social__link.social__link_fb
                    svg.socials__icon 
                        use(xlink:href='img/icons/symbol/sprite.svg#fb-icon')
            li.social__item
                a(href="#").social__link.social__link_insta
                    svg.socials__icon 
                        use(xlink:href='img/icons/symbol/sprite.svg#insta-icon')
        .promo
            p.promo__title Давайте дружить, это выгодно!
            p.promo__text Скидка 10% для друзей из социальных сетей.