header.header
    .container
        a(href="#").logo__link
            svg.logo
                use(xlink:href='img/icons/sprite.svg#nerds-logo')
        ul.navigation__site
            li.navigation__link
                a(href="#") Студия
            li.navigation__link
                a(href="#") Клиенты
            li.navigation__link
                a(href="#") Магазин
            li.navigation__link
                a(href="#") Контакты
        a(href="#").card Корзина