section.map
    .container
        .contacts
        .name__company Nёrds desing studio
        .addres 191186, Санкт-Петербург, ул. Б. Конюшенная д. 18/9
        .number +7(812)275-75-75
        a(href="#").contacts__btn Напишите нам