section.map
    .container
        .contacts
            h3.name-company Nёrds desing studio
            p.addres 191186, Санкт-Петербург, ул. Б. Конюшенная д. 18/9
            p.addres тел. +7(812)275-75-75
            a(href="#").contacts__btn Напишите нам