.service__list {
    display: flex;
    justify-content: space-between;
}

.service__item {
    width: 300px;
}

.service__top {
    margin-bottom: 30px;
}

.service__title {
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 25px;
}

.srvice__desc {
    color: $text;
    margin-bottom: 35px;
}

.service__btn {
    border: none;
    color: white;
    border-radius: 5px;
    padding: 20px 40px;
    transition: .3s;
    cursor: pointer;
    
    &:active {
        box-shadow: 0px 3px 10px 0px #000000 inset;
        color: rgba($color: white, $alpha: .3);
    }
    &.red {
        background: $red;
        &:hover {
            background: $medium-red;
        }
        &:active {
            background: $dark-red;
        }
    }
    &.green {
        background: $green;
        &:hover {
            background: $medium-green;
        }
        &:active {
            background: $dark-green;
        }
    }
    &.yellow {
        background: $yellow;
        &:hover {
            background: $medium-yellow;
        }
        &:active {
            background: $dark-yellow;
        }
    }
}