.service__list {
    display: flex;
    justify-content: space-between;
}

.service__item {
    width: 300px;
}

.service__top {
    margin-bottom: 30px;
}

.service__title {
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 25px;
}

.srvice__desc {
    color: $text;
    margin-bottom: 35px;
}

.service__btn {
    border: none;
    color: white;
    border-radius: 3px;
    padding: 20px 40px;
    &.red {
        background: $red;
    }
    &.green {
        background: $green;
    }
    &.yellow {
        background: $yellow;
    }
}