//colors
$grey: #eeeeee;
$red: #fb565a;
$medium-red: #e74246;
$dark-red: #d7373b;
$green: #00ca74;
$medium-green: #00bc6c;
$dark-green: #00aa62;
$yellow: #efc84a;
$medium-yellow: #eab534;
$dark-yellow: #e5a722;
$text: #283136;

// resolutions
$desktop: 1800px;
$laptop: 1200px;
$tablets: 768px;
$phones: 480px;